<div class="profile">
  <img class="profile-pic" id="profile-pic-id">
  <div class="profile-options">
    <p class="profile-title" id="profile-title-id"></p>
    <button (click)="logoutUser()" class="profile-logout-btn">Выход</button>
  </div>
</div>
<div class="search">
  <form [formGroup]="searchForm">
    <input class="search-field" formControlName="search" placeholder="поиск по email...">
  </form>
</div>
<div *ngFor="let chat of chatList" class="chat-wrap">
  <div class="chat" (click)="activate($event, chat)" >
    <img class="contact-pic" src="/images/{{chat.chatImage}}">
    <div class="contact-text">
      <p class="contact-title">{{chat.title}}</p>
    </div>
  </div>
</div>
